@charset "UTF-8";

.FundingDetailSummary {
    overflow: hidden;
    position: relative;
}
.FundingDetailSummary .FundingDetailSummary_dday {
    display: inline-block;
    position: relative;
    min-width: 54px;
    padding: 3px 9px;
    background-color: #ed5a5a;
    border-radius: 13px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.33;
    color: #fff;
    letter-spacing: -.4px;
    text-align: center;
}

.FundingDetailSummary .FundingDetailSummary_title {
    word-break: keep-all;
    word-wrap: break-word;
    min-height: 82px;
    margin-top: 12px;
    font-size: 32px;
    font-weight: 900;
    line-height: 1.32;
    letter-spacing: -1px;
}

.FundingDetailSummary_graph {
    width: 350px;
    margin-top: 2px;
}

.FundingDetailSummary_graph:after {
    display: table;
    table-layout: fixed;
    clear: both;
    content: "";
}

.FundingDetailSummary_graph .FundingDetailSummary_rate {
    font-size: 28px;
    text-align: right;
    color: #008080;
}

.FundingDetailSummary_graph .FundingDetailSummary_rate .FundingDetailSummary_number {
    margin-right: 1px;
    font-size: 34px;
    font-weight: 900;
    line-height: 1.12;
    letter-spacing: -1px;
}

.FundingDetailSummary_graph .FundingDetailSummary_bar {
    position: relative;
    width: 100%;
    height: 3px;
    margin-top: 7px;
    background-color: #eee;
}

.FundingDetailSummary_graph .FundingDetailSummary_current {
    display: inline-block;
    position: absolute;
    height: 100%;
    background-color: #008080;
}

.FundingDetailSummary_graph .FundingDetailSummary_goal {
    float: left;
    margin-top: 13px;
    font-size: 15px;
    line-height: 1.13;
    color: #828282;
    letter-spacing: -.6px;
}

.FundingDetailSummary_graph .FundingDetailSummary_goal .FundingDetailSummary_number {
    display: inline-block;
    margin: 0 1px -1px 0;
    font-size: 16px;
    letter-spacing: -.4px;
    vertical-align: bottom;
}

.FundingDetailSummary_graph .FundingDetailSummary_amount {
    float: right;
    margin-top: 14px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -.8px;
}

.FundingDetailSummary_graph .FundingDetailSummary_amount .FundingDetailSummary_number {
    display: inline-block;
    margin: 0 1px -3px 0;
    font-size: 23px;
    line-height: 1.13;
    letter-spacing: -1px;
    vertical-align: bottom;
}

