@charset "UTF-8";

@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 개별 폰트 설정 */


/*공통*/


*{
	box-sizing: boder-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: 'TmoneyRoundWindRegular'; 	
}

:after, :before {
    box-sizing: border-box;
}


html {
	height: 100%;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	min-height: 100%;
	font-size: 18px;
	font-family: 'TmoneyRoundWindRegular'; 	
	-ms-overflow-style: none;
 }
} 

a{
	text-decoration: none;
}

/*스크롤 제거*/
::-webkit-scrollbar { 
	display: none; 
}

.wrapper {
	position: relative;
	width : 1140px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 110px; /* header height + 20px */
	padding-bottom: 220px; /* footer height + 20px */
    color: #202020;
}

/*footer*/
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right:0;
	padding-top: 1em;
	min-width: 1140px;
	height: 180px;
	font-family: 'TmoneyRoundWindRegular';
	font-size: 13px;
    border-top: 1px solid #025951;
    background-color: #fff;
    font-size: 16px;
    color: #828282;
}

.footerWrapper {
  	position: relative;
 	bottom: 0;
	width: 1140px;
	height: 180px;
	margin: 15px auto;
}

.contentWrapper{
	width: 800px;
}

.footerLogo{
	position: relative;
	float: left;
	margin-right: 30px;
	width: 150px;
    height: 35px;
	font-weight: bold;
	font-size: 25px;	
}

.company{
	position: relative;
	float: left;
	width: 600px !important;
	display: inline-block;
	
}

.innerContent{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 5px auto;
}

.cs{
	position: absolute;
	right: 10px;
	width: 400px !important;
	display: inline-block;
	
}

.sendMsg:hover{
	cursor: pointer;
}