@charset "UTF-8";


.modal-title {
	color: #3bbf74;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
}

.modal-body{
	height: 120px;
	vertical-align: middle;
}

#noagree{
	border: 1px solid #fcf6c1;
	border-radius: 7px;
	width: 70px;
	padding: 5px;
	background-color: #fcf6c1;
	color: #202020;
	font-size: 13px;
}

#agree{
	border: 1px solid #cff09e;
	border-radius: 7px;
	width: 40px;
	padding: 5px;
	background-color: #cff09e;
	color: #202020;
	font-size: 13px;	
}

