@charset "UTF-8";

			.wrap{
				position:fixed; 
				background: rgba(0,0,0,0.8);
				top: 0; left: 0; bottom: 0; right: 0;
				display:none;
			}
			.modal{
				position: fixed;
				top: 50%; left: 50%;
				width: 500px; height: 500px;
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				background-color: white;
			}
			#detailTitle{
				font-size: 20px;
				text-align: center;
			}
			.close{
				text-align: right;
			}