@charset "UTF-8";

body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.outer{
	margin-top: 100px;
	display: flex;
	justify-content: center;
}

.login{
	text-align: center;
}

.loginDiv{
	width: 500px;
	height: 500px;
	text-align: center;
	position: relative;
	display: inline-block;
}

.idPwd{
}

.form{
	width: 300px;
	height: 50px;
	border: 1px #d3d3d3 solid;
	border-radius: 5px;
}

a{
	text-decoration: none;
	color: black;
}

hr{
	width: 300px;
	height: 2px;
	background: #ccc;
}

.loginBtn{
	width: 250px; height: 50px;
	border: none; border-radius: 5px;
	background: #3498db;
	color: white; font-size: 20px;
	cursor: pointer;
}
