@charset "UTF-8";

.wrapper{
	position: relative;
}

.outer{
	display: flex;
	justify-content: center;
}

.login{
	text-align: center;
}

.loginDiv{
	width: 500px; height: 500px;
	text-align: center;
	position: relative;
	display: inline-block;
	margin-bottom: 50px;
}

.form{
	width: 300px;
	height: 50px;
	border: 1px #d3d3d3 solid;
	border-radius: 5px;
}

a{
	text-decoration: none;
	color: black;
}

hr{
	width: 300px;
	height: 2px;
	background: #ccc;
}

.loginBtn{
	width: 250px; height: 50px;
	border: none; border-radius: 5px;
	background: #3498db;
	color: white; font-size: 20px;
	cursor: pointer;
}

.warning{
	padding-left: 100px;
}

#customBtn{
	display: inline-block;
}
