@charset "UTF-8";

.myPageContainer {
	width: 1140ox;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* 마이페이지 프로필 */
.profileContainer{
	width: 240px;
	height: 100%;
	float: left;
	border: 1px solid #ededed;
	box-shadow: 0 2px 4px 0 rgb(33 37 41 / 11%);
	padding: 10px;
	margin-top: 45px;
	border-radius: 7px;
	text-align: center;
}

.profileImg, .profileUser {
	padding: 20px 0;
}

.imgProfile {
	width: 78px;
	height: 78px;
}

.profileLogout{
	diplay: block;
	font-weight: bold;
	color: #ff722b;
}

.profileLogout:hover{
	cursor: pointer;
}

/* 마이페이지 내용 */
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}
.contentsBox{
	width: 900px;
	height: 100%;
	margin-left: 240px;
	background-color: #fcf6c1;
}



.tab-main {
	display: block;
	margin: 20px 0;
	width: 900opx;
}


.tab-main>.tab>li {
	float: right;
	margin-right: 7px;
	text-align: center;
	border-radius: 20px;
	border: none;
}


.tab-main>.tab .title{
	display: block;
	width : 100px;
	padding: 10px;
	text-align: center;
	background-color: #a8dba8;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: -10px;
	border-bottom-right-radius: -10px;
	
	color: #fff;
	cursor: pointer;
}

.tab-main>.tab .on {
	position: relative;
}

.tab-main>.tab .on .title{
	background-color: #79bd9a;
}

.tab-main>.tab-cont {
	float: left;
	width: 850px;
	margin-left: 15px;
	border-radius: 7px;
	color: black;
	background: #transparent;
}

.tab-main>.tab-cont>.cont {
	padding: 20px 50px;
	background-color: white;
	border: 1px solid #79bd9a;
	box-shadow: 0 2px 4px 0 rgb(33 37 41 / 11%);
	border-radius: 7px;
	box-sizing: border-box;
	width: 900px;
	background: transparent;
}


/* projectInfo */

.projectInfo {
    border: 1px solid #cdd3d8;
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgb(33 37 41 / 11%);
	width: 800px;
}


.button--secondary {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  color: #038c65;
  font-weight: bold;
  width: 160px;
  height: 44px;
  border-radius: 22px;
  border: 1px solid #038c65;
  padding: 0 0 0 21px;
  margin-left: 30px;
  line-height: 44px;
  text-align: center;
  cursor: pointer;
}
.button--secondary:before {
  content: "";
  position: absolute;
  left: 21px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #038c65;
  transform: scale(0);
  opacity: 0;
  transition: all .33s cubic-bezier(.68,-.55,.265,1.55);
}
.button--secondary .text {
  white-space: nowrap;
  font-size: 14px;
  transition: all .3s cubic-bezier(.68,-.55,.265,1.55);
}
.button--secondary .icon-arrow {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #038c65;
  transition: all .3s cubic-bezier(.68,-.55,.265,1.55);
}
.button--secondary .icon-arrow:after {
  content: "";
  display: inline-block;
  background-color: inherit;
  position: absolute;
  left: 100%;
  width: 20px;
  height: 2px;
  top: 4px;
}
.button--secondary:hover {
   animation: icon-arrow-off .33s cubic-bezier(0,0,.2,1);
}
@keyframes icon-arrow-off {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.95); }
  100% {
    transform: scale(1); } 
}
.button--secondary:hover:before {
  transform: scale(1);
  opacity: 1;
}
.button--secondary:hover .text {
  transform: translateX(21px);
}
.button--secondary:hover .icon-arrow {
  transform: translateX(30px) scale(.8);
  opacity: 0;
}


.infoBox {
	
   	height: 120px;
	
}

.infoBox>li {
	display: inline-block;
	width: 32%;
    text-align: center;
}

.infoBox>li>a {
	display: block;
	position: relative;
	padding: 22px 0;
	color: #202020;
}

.infoBox>li>a:hover, 
.infoBox>li>a:focus, .infoBox>li>a:visited {
	color: #202020;
	
}

.infoBox>li>a>span{
	display: block;
	line-height: 28px;
    letter-spacing: -.3px;
    border-left: 1px solid #e9ecef;
}

.infoBox>li:first-child>a>span{
	border: none;
}

.infoBox>li>a>.innerBorder{
	border-left: 1px solid #e9ecef;
}


.infoBox>li>a>span>b{
	display: block;
    padding-top: 10px;
    padding-left: 4px;
    letter-spacing: -.6px;
    font-size: 20px;
    line-height: 28px;
} 


.logBox>ul>li{
	display: inline-block;
	width: 360px;
	padding-right: 40px;
	padding-left: 20px;
}

.logBox>ul>li>a{
	display: block;
	position: relative;
	padding: 12px 0;
	border-bottom: 1px solid #e9ecef;
	color: #202020;	
}

.logBox>ul>li>a>span{
	display: block;
	height: 40px;
	line-height: 40px;
	
}


.withdrawlBtn{
	diplay:block;
	margin-top:10px;
	background:#568C82;
	color:#fff;
	border:none;
	position:relative;
	height:40px;
	font-size: 16px;
	padding:0 1em;
	cursor:pointer;
	transition:800ms ease all;
	outline:none;
	border-radius:5px;
}


.withdrawlBtn:hover{
	background:#fff;
	color:#1AAB8A;
}

.withdrawlBtn:before,.withdrawlBtn:after{
	content:'';
	position:absolute;
	top:0;
	right:0;
	height:2px;
	width:0;
	background: #1AAB8A;
	transition:400ms ease all;
}
.withdrawlBtn:after{
	right:inherit;
	top:inherit;
	left:0;
	bottom:0;
}
.withdrawlBtn:hover:before,.withdrawlBtn:hover:after {
	width:100%;
	transition:800ms ease all;
}