@charset "UTF-8";


h2 {
	margin-left: 15px; 
}

ul, li {
	list-style-type: none;
	padding: 0;
}



.withdrawlContainer {
	width: 700px;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
}

.withdrawlTitle {
	font-family: 'TmoneyRoundWindExtraBold';
}

.withdrawlReason {
	border: 1px solid #ededed;
	border-radius: 7px;
	padding: 30px;
	margin: 15px;
}

.caution {
	border: 1px solid #ededed;
	border-radius: 7px;
	padding: 30px;
	margin: 15px;
}

.insideBtn {
	width: 85px;
	height: 40px;
	border: none;
	padding: 5px;
	outline: none;
	border-radius: 5px;
	color: #1e1e1e;
	background-color: #cff09e;
	border: 1px solid #cff09e;
	font-size: 15px;
}


.insideBtn:hover {
	background-color: #a8dba8;
	cursor: pointer;
}

.modal-content {
	width: 400px !important;
}

.modal-body {
	padding-right: 50px;
	padding-left: 50px;
}




.btnContainer {
	margin: 15px;
	text-align: center;
}

.btn-danger{
	border: none !important;
}

#withdrawal {
	background:#fcf6c1 !important;
	color:#202020 !important;
	border: none !important;
	border-radius: .25rem;
	height: 38px;
}

#withdrawal:hover {
	background:#cff09e !important;
	color:#fff;
}

.withdrawlBtn{
	diplay:block;
	margin-top:10px;
	background:#568C82 !important;
	color:#fff;
	border:none !important;
	position:relative;
	height:40px;
	font-size: 16px;
	padding:0 1em;
	cursor:pointer;
	transition:800ms ease all !important;
	outline:none;
	border-radius:5px;
}


.withdrawlBtn:hover, .withdrawlBtn:focus, .withdrawlBtn:active{
	background:#fff !important;
	color:#1AAB8A !important;
}

.withdrawlBtn:before,.withdrawlBtn:after{
	content:'';
	position:absolute;
	top:0;
	right:0;
	height:2px;
	width:0;
	background: #1AAB8A;
	transition:400ms ease all !important;
}
.withdrawlBtn:after{
	right:inherit;
	top:inherit;
	left:0;
	bottom:0;
}
.withdrawlBtn:hover:before,.withdrawlBtn:hover:after {
	width:100%;
	transition:800ms ease all !important;
}