@charset "UTF-8";

.FundingDetailSummary_summary {
    overflow: hidden;
    position: relative;
    font-family: NanumSquareWebFont,dotum,Sans-serif;
}
.FundingDetailSummary_summary .FundingDetailSummary_dday__6d9qe {
    display: inline-block;
    position: relative;
    min-width: 54px;
    padding: 3px 9px;
    background-color: #ed5a5a;
    border-radius: 13px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.33;
    color: #fff;
    letter-spacing: -.4px;
    text-align: center;
}

.FundingDetailSummary_summary .FundingDetailSummary_title__3zmN4 {
    word-break: keep-all;
    word-wrap: break-word;
    min-height: 82px;
    margin-top: 12px;
    font-size: 32px;
    font-weight: 900;
    line-height: 1.32;
    letter-spacing: -1px;
}

.FundingDetailSummary_graph__3tXzw {
    width: 350px;
    margin-top: 2px;
}

.FundingDetailSummary_graph__3tXzw:after {
    display: table;
    table-layout: fixed;
    clear: both;
    content: "";
}

.FundingDetailSummary_graph__3tXzw .FundingDetailSummary_rate__4Rz_M {
    font-size: 28px;
    text-align: right;
    color: #008080;
}

.FundingDetailSummary_graph__3tXzw .FundingDetailSummary_rate__4Rz_M .FundingDetailSummary_number__3xyc9 {
    margin-right: 1px;
    font-size: 34px;
    font-weight: 900;
    line-height: 1.12;
    letter-spacing: -1px;
}

.FundingDetailSummary_graph__3tXzw .FundingDetailSummary_bar__1wact {
    position: relative;
    width: 100%;
    height: 3px;
    margin-top: 7px;
    background-color: #eee;
}

.FundingDetailSummary_graph__3tXzw .FundingDetailSummary_current__2bGJi {
    display: inline-block;
    position: absolute;
    height: 100%;
    background-color: #008080;
}

.FundingDetailSummary_graph__3tXzw .FundingDetailSummary_goal__2Yfil {
    float: left;
    margin-top: 13px;
    font-size: 15px;
    line-height: 1.13;
    color: #828282;
    letter-spacing: -.6px;
}

.FundingDetailSummary_graph__3tXzw .FundingDetailSummary_goal__2Yfil .FundingDetailSummary_number__3xyc9 {
    display: inline-block;
    margin: 0 1px -1px 0;
    font-size: 16px;
    letter-spacing: -.4px;
    vertical-align: bottom;
}

.FundingDetailSummary_graph__3tXzw .FundingDetailSummary_amount__7Ploe {
    float: right;
    margin-top: 14px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -.8px;
}

.FundingDetailSummary_graph__3tXzw .FundingDetailSummary_amount__7Ploe .FundingDetailSummary_number__3xyc9 {
    display: inline-block;
    margin: 0 1px -3px 0;
    font-size: 23px;
    line-height: 1.13;
    letter-spacing: -1px;
    vertical-align: bottom;
}
*, :after, :before {
    box-sizing: border-box;
}


body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
div {
	display: block;
}

body {
	-webkit-font-smoothing: antialiased;
}

body, button, input, select, table, textarea {
	font-family: NanumBarunGothic, dotum, Sans-serif;
	font-size: 14px;
	line-height: 19px;
	color: #202020;
}