@charset "UTF-8";

*{
	padding: 0;
	margin: 0;
}

#outer{
	display: flex;
	justify-content: center;
}

#inner{
	position: relative;
	display: inline-block;
	width: 520px; height: auto;
	background-color: #e2e2e2;
}

#text-3{
	text-align: right;
}

#text-4{
	text-align: left;
}

.table{
	width: 500px;
	color: #556677;
	font-size: 20px;
}

#textArea{
	background-color: #9bbbd4;
	padding: 20px 0 20px 20px;
}

.textRow{
	height: 100px;
}

#deleteBtn{
	width: 50px;
	text-align: center;
}

#msgDelete{
	width: 100%; height: 100px; 
	background-color: #9bbbd4;
	border: none;
	color: #808080; font-size: 18px;
	cursor: pointer;
}

#txtMsg{
	width: 400px; height: 100px;
	font-size: 20px;
	padding: 0;
	border-collapse: collapse;
}

#sendBtn{
	width: 110px; height: 102px;
	border: none;
	padding: 0;
	font-size: 18px;
	background-color: #e2e2e2;
}

.inputTxt{
	position: fixed;
}
