@charset "UTF-8";

.wrapper{
	position: relative;
}

.tabs{
	font-size: 20px;
	position: relative;
	display: inline-block;
}

#table{
	border-collapse: collapse;
	margin-top: 15px;
}

.tdImg{
	width: 100px; height: 100px;
}

.tdImg, #msgTitle, #msgMaker, #msgContent{
	text-align: center;
}

#msgTitle{
	width: 650px;
	
}

#msgMaker{
	width: 300px;
	
}

#outer{
	display: flex;
	justify-content: center;
}

#underline{
	border-bottom: solid 1px #d3d3d3;
}


