@charset "UTF-8";

@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	padding: 0;
	margin: 0;
}

#outer{
	display: flex;
	justify-content: center;
}

#inner{
	position: relative;
	display: inline-block;
	width: 520px; height: auto;
	background-color: #e2e2e2;
}

#textArea{
	background-color: #9bbbd4;
	padding: 20px 0 20px 20px;
}

#text-0{
	text-align: right;
	font-family: 'TmoneyRoundWindRegular';
}

#text-1{
	text-align: left;
	font-family: 'TmoneyRoundWindRegular';
}

.table{
	width: 500px;
	color: #556677;
	font-size: 20px;
	font-family: 'TmoneyRoundWindRegular';
}

.textRow{
	height: 100px;
}

#deleteBtn{
	width: 50px;
	text-align: center;
	font-family: 'TmoneyRoundWindRegular';
}

#msgDelete{
	width: 100%; height: 100px; 
	background-color: #9bbbd4;
	border: none;
	color: #808080; font-size: 18px;
	cursor: pointer;
	font-family: 'TmoneyRoundWindRegular';
}

#txtMsg{
	width: 400px; height: 100px;
	font-size: 20px;
	padding: 0;
	border-collapse: collapse;
	outline: none;
	font-family: 'TmoneyRoundWindRegular';
	border: 1px solid #9bbbd4;
}

#sendBtn{
	width: 110px; height: 102px;
	border: none;
	padding: 0;
	font-size: 18px;
	background-color: #e2e2e2;
	font-family: 'TmoneyRoundWindRegular';
}
