@charset "UTF-8";

.wrap {
    min-width: 1140px;
}
.content {
    position: relative;
    z-index: 20;
}

.fundingcategory {
    width: 1140px;
    margin: 54px auto 0;
    background-color: #fff;
    text-align: center;
}
.fundingcategory_item+.fundingcategory_item {
    margin-left: 6px;
}

.fundingcategory_item {
    display: inline-block;
    position: relative;
    margin-top: 6px;
}

.blind, input[type=checkbox], input[type=radio] {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}

.fundingcategory_input:checked+.fundingcategory_label {
    border-color: #1f9eff;
    color: #1f9eff;
}
.fundingcategory_label {
    display: block;
    min-width: 130px;
    padding: 10px 11px 9px;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    font-size: 16px;
    letter-spacing: -.3px;
    text-align: center;
}

.fundingcontent_checkbox .fundingcontent_label {
    display: inline-block;
    padding: 8px 0;
    font-size: 15px;
    color: #333;
}
.fundingcontent_checkbox .fundingcontent_icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    padding-left: 3px;
    margin: -1px 10px 0 0;
    border: 1px solid #e2e2e2;
    vertical-align: top;
}

.fundingcontent_checkbox .fundingcontent_input:checked+.fundingcontent_label .fundingcontent_icon:after {
    display: inline-block;
    width: 13px;
    height: 10px;
    background-image: url(../fundingimg/check.svg);
    content: "";
}
.fundingcontent_filter {
    margin-top: 43px;
}
.fundingcontent_filter:after {
    display: table;
    table-layout: fixed;
    clear: both;
    content: "";
}

.fundingContent_select {
    float: right;
    position: relative;
}

.SelectArea_select {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.SelectArea_button {
    position: relative;
    width: 122px;
    padding: 2px 39px 0 13px;
    border: 1px solid #e3e3e3;
    background-color: #fff;
    line-height: 32px;
    text-align: left;
    white-space: nowrap;
    color: #333;
}

.SelectArea_select_list {
    overflow-y: auto;
    position: absolute;
    top: 35px;
    right: 0;
    left: 0;
    z-index: 30;
    max-height: 189px;
    padding: 12px 0;
    border: 1px solid #202020;
    background-color: #fff;
    text-align: left;
    color: #333;
}

.SelectArea_button[aria-expanded=true] {
    border-color: #202020;
}

[aria-hidden=true]:not(svg) {
    display: none;
}

.SelectArea_select_item {
    display: block;
    padding: 9px 14px;
    outline: none;
    line-height: 17px;
    text-align: left;
    cursor: pointer;
}
.fundingcontent_content {
    width: 1140px;
    padding-bottom: 60px;
    margin: 0 auto;
}
.fundingcontent_content .fundingContent_list {
    overflow: hidden;
    margin: 13px 0 -24px -24px;
}

.fundingcontent_content .fundingContent_item {
    float: left;
    width: 25%;
    padding: 0 0 24px 24px;
}

.fundingCard_wrap {
    float: left;
    position: relative;
    width: 267px;
    height: 363px;
}

.FundingCard_img_wrap {
    position: relative;
    width: 267px;
    height: 200px;
    background-color: #ccc;
}

.fundingCard_content {
    position: relative;
    height: 163px;
    padding: 21px 20px 43px;
}

.fundingCard_img {
    vertical-align: top;
}

.fundingCard_percent {
    position: absolute;
    top: 20px;
    right: 16px;
    width: 55px;
    height: 55px;
    border: 1px solid #0f92e0;
    border-radius: 50%;
    font-family: NanumSquareWebFont,dotum,Sans-serif;
    font-size: 15px;
    line-height: 55px;
    letter-spacing: -.2px;
    text-align: center;
    color: #0f92e0;
}

.fundingCard_percent+.fundingCard_title {
    padding-right: 66px;
}

.fundingCard_content .fundingCard_title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    height: 50px;
    line-height: 25px;
    word-break: break-all;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: keep-all;
    word-wrap: break-word;
    font-family: NanumSquareWebFont,dotum,Sans-serif;
    font-size: 17px;
    letter-spacing: -.5px;
    color: #333;
}

.fundingCard_organization {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 8px;
    font-size: 15px;
    color: #828282;
    letter-spacing: -.5px;
}

.fundingCard_figure {
    display: table;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 267px;
    height: 41px;
    border-top: 1px solid rgba(0,0,0,.05);
}

.fundingCard_date {
    display: table-cell;
    padding: 1px 0 0 20px;
    font-size: 14px;
    letter-spacing: -.5px;
    color: #828282;
    vertical-align: middle;
}

.fundingCard_amount {
    display: table-cell;
    padding-right: 18px;
    font-size: 16px;
    color: #333;
    letter-spacing: -.2px;
    text-align: right;
    vertical-align: middle;
}
.fundingContent_button_more {
    width: 100%;
    height: 53px;
    margin-top: 30px;
    border: 1px solid rgba(0,0,0,.07);
    background-color: #f6f6f6;
    font-size: 15px;
    line-height: 1.13;
    text-align: center;
    overflow-anchor: none;
}
.fundingcontent_filter:after {
    display: table;
    table-layout: fixed;
    clear: both;
    content: "";
}

.fundingcontent_content .fundingContent_list:after {
    display: table;
    table-layout: fixed;
    clear: both;
    content: "";
}

.SelectArea_button:after  {
    position: absolute;
    top: 12px;
    right: 13px;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #202020;
    border-left: 1px solid #202020;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    content: "";
}

*, :after, :before {
    box-sizing: border-box;
}
fieldset, img {
    border: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
div {
    display: block;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
button, input[type=button], input[type=checkbox]+label, input[type=radio]+label, input[type=reset], input[type=submit] {
    cursor: pointer;
}
button, input, select, textarea {
    border: 0;
    border-radius: 0;
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

ol, ul, li{
    list-style: none;
}

body, button, input, select, table, textarea {
    font-size: 14px;
    line-height: 19px;
    color: #202020;
}