<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Board">
	<resultMap type="Board" id="resultBoard">
		<id column="FREENO" property="boardNo" />
		<result column="FREETITLE" property="boardTitle" />
		<result column="FREECONTENT" property="boardContent" />
		<result column="FREEDATE" property="boardDate" />
		<result column="FREECNT" property="boardCnt" />
		<result column="ID" property="boardId" />
	</resultMap>

	<!-- 게시글 목록 -->
	<select id="listCount" resultType="int">
	    SELECT count(*) FROM BULLETINEBOARD
	</select>
	
	<!-- 게시글 상세보기 -->
	<select id="detail" resultMap="resultBoard" parameterType="int">
		SELECT * FROM BULLETINEBOARD WHERE FREENO = #{boardNo}
	</select>

	<!-- 게시글 등록 -->
	<insert id="insertBoard" parameterType="Board" flushCache="true" statementType="PREPARED">
		INSERT INTO BULLETINEBOARD(FREENO, FREETITLE, FREECONTENT, FREEDATE, FREECNT, ID)
		VALUES(SEQ_BULLETINEBOARD.NEXTVAL, #{boardTitle}, #{boardContent}, SYSDATE, 0, #{boardId})
	</insert>

	<!-- 게시글 삭제 -->
	<delete id="deleteBoard" parameterType="int" flushCache="true" statementType="PREPARED">
		DELETE FROM BULLETINEBOARD WHERE FREENO = #{boardNo}
	</delete>

	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="Board" flushCache="true" statementType="PREPARED">
		UPDATE BULLETINEBOARD SET FREETITLE = #{boardTitle}, FREECONTENT =#{boardContent} WHERE FREENO = #{boardNo}
	</update>

	<!-- 페이지당 게시글 조회 / 번호정렬 -->
	<select id="selectList" resultMap="resultBoard">
		SELECT * FROM BULLETINEBOARD ORDER BY FREENO ASC
	</select>
	
	<!-- 글 조회수 증가-->
  	<update id="addReadCount" parameterType="int" flushCache="true" statementType="PREPARED">
  		UPDATE BULLETINEBOARD SET FREECNT = FREECNT+1 WHERE FREENO = #{boardNo}
  	</update>
	
	<!-- 게시글 단일 조회 -->
	<select id="selectOne" parameterType="int" resultMap="resultBoard">
		SELECT * FROM BULLETINEBOARD WHERE FREENO = #{boardNo}
	</select>
	
	<!-- 게시글 추천 여부 검사 -->
	<select id="checklike" parameterType="hashmap" flushCache="true" statementType="PREPARED" resultType="int">
		SELECT count(*) FROM BULLETINLIKE WHERE FREENO = #{FREENO} and ID = #{ID}
	</select>
	
	<!-- 게시글 추천 -->
	<insert id="insertLike" parameterType="hashmap" flushCache="true" statementType="PREPARED" >
		INSERT INTO BULLETINLIKE VALUES(#{FREENO}, #{ID})
	</insert>
	
	<!-- 게시글 추천 취소 -->
	<delete id="deleteLike" parameterType="hashmap" flushCache="true" statementType="PREPARED">
		DELETE FROM BULLETINLIKE WHERE FREENO = #{FREENO} and ID = #{ID}
	</delete>
	
	<!-- 게시글 추천수 -->	
	<select id="likecnt" parameterType="int" flushCache="true" statementType="PREPARED" resultType="int">
		SELECT count(*) FROM BULLETINLIKE WHERE FREENO = #{boardNo}
	</select>
	
	
	
	
	<!-- 게시글 신고 -->
	<!-- 검색한 게시글 조회 -->
	<select id="searchList" parameterType="string"
		resultType="arraylist" resultMap="resultBoard">
		SELECT * FROM BULLETINEBOARD WHERE
		BOARD_TITLE LIKE '%'|| #{keyword} ||'%' OR BOARD_CONTENT LIKE '%'||
		#{keyword} ||'%'
		ORDER BY REGDATE DESC
	</select>
</mapper>