<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Funding">
	<resultMap type="Funding" id="resultFunding">
		<!-- property는 필드명, column 은 DB 컬럼 명을 입력한다 -->
		<id property="fundingno" column="FUNDINGNO" />
		<result property="fundingstate" column="FUNDINGSTATE" />
		<result property="fundingcategory" column="FUNDINGCATEGORY" />
		<result property="fundingtitle" column="FUNDINGTITLE" />
		<result property="fundingcontent" column="FUNDINGCONTENT" />
		<result property="fundingprice" column="FUNDINGPRICE" />
		<result property="fundingstart" column="FUNDINGSTRAT" />
		<result property="fundingfin" column="FUNDINGFIN" />
		<result property="maker" column="MAKER" />
		<result property="fundingchkdate" column="FUNDINGCHKDATE" />
		<result property="deliverycharge" column="DELIVERYCHARGE" />
		<result property="deliverydate" column="DELIVERYDATE" />
	</resultMap>
	
	
	<!-- 펀딩 전체 개수 조회 -->
	<select id="listCount" resultType="int">
		SELECT count(*) FROM FUNDING
	</select>
	
	<!-- 펀딩  전체  조회 -->
	<select id="selectlist" resultType="arraylist" resultMap="resultFunding">
		SELECT * FROM FUNDING  order by fundingstate desc
	</select>
	
	<!-- 펀딩  제목&내용 검색 -->
	<select id="selectfunList" resultType="arraylist" resultMap="resultFunding">
			<if test="serchOption.equals('제목')">
				SELECT * FROM FUNDING WHERE FUNDINGTITLE LIKE '%'||#{keyword}||'%'
			</if>
			<if test="serchOption.equals('내용')">
				SELECT * FROM FUNDING WHERE FUNDINGCONTENT LIKE '%'||#{keyword}||'%'
			</if>
			
			<if test="serchOption.equals('제목내용')">
					SELECT * FROM FUNDING WHERE FUNDINGTITLE LIKE '%'||#{keyword}||'%' OR FUNDINGCONTENT LIKE '%'||#{keyword}||'%'
            </if>
	</select>
	
	<!-- 펀딩 단일 조회 -->
	<select id="selectOne" parameterType="int" resultType="Funding">
		SELECT * FROM FUNDING WHERE FUNDINGNO = #{fundingno}
	</select>
	
</mapper>
