<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="User">
	<resultMap type="User" id="resultUser">
		<id property="userId" column="id" />
		<result property="userPwd" column="pwd" />
		<result property="userName" column="name" />
		<result property="userNick" column="nickname" />
		<result property="userPhone" column="phone" />
		<result property="userAddress" column="address" />
		<result property="userEmail" column="email" />
		<result property="gender" column="gender" />
		<result property="userAge" column="age" />
		<result property="userFav" column="fav" />
		<result property="point" column="point" />
		<result property="authority" column="authority" /> 
		<result property="suspensionStart" column="suspensionstart" /> 
		<result property="suspensionFin" column="suspensionfin" /> 
		<result property="reportCnt" column="reportcnt" /> 
		<result property="joinDate" column="joindate"/>
		<result property="loginDate" column="logindate"/>
	</resultMap>
	
		
	<!-- 마이페이지 펀딩 JOIN -->	
	<resultMap type="MyFunding" id="resultMyFunding">
		<result property="orderNo" column="ORDERNO" />
		<result property="orderDetailNo" column="ORDERDETAILNO" />
		<result property="orderStatus" column="ORDERSTATUS" />
		<result property="fundingNo" column="FUNDINGNO" />
		<result property="userId" column="ID" />
		<result property="fundingTitle" column="FUNDINGTITLE" />
		<result property="maker" column="MAKER" />
		<result property="paymentType" column="PAYMENTTYPE" />
		<result property="orderDate" column="ORDERDATE" />
		<result property="rewardTitle" column="REWARDTITLE" />
		<result property="rewardPrice" column="REWARDPRICE" />
		<result property="rewardCount" column="REWARDCOUNT" />
		<result property="rTotalPrice" column="RTOTALPRICE" />
		<result property="fundingstart" column="FUNDINGSTRAT" />
		<result property="fundingfin" column="FUNDINGFIN" />
	</resultMap>


	<resultMap type="Board" id="freeBoard"> <!-- 자유 게시판 -->
		<id property="boardNo" column="freeno"/>
		<result property="boardTitle" column="freetitle"/>		
		<result property="boardContent" column="freecontent"/>		
		<result property="boardDate" column="freedate"/>		
		<result property="boardCnt" column="freecnt"/>		
		<result property="boardId" column="id"/>		
	</resultMap>
	<resultMap type="Board" id="reviewBoard"> <!-- 후기 게시판 -->
		<id property="boardNo" column="reviewno"/>
		<result property="boardTitle" column="reviewtitle"/>		
		<result property="boardContent" column="reviewcontent"/>		
		<result property="boardDate" column="reviewdate"/>		
		<result property="boardCnt" column="reviewcnt"/>		
		<result property="boardId" column="id"/>
	</resultMap>
	<resultMap type="Board" id="questionBoard"> <!-- 질의응답 게시판 -->
 		<id property="boardNo" column="qboardno"/>
		<result property="boardTitle" column="qboardtitle"/>		
		<result property="boardContent" column="qboardcontent"/>		
		<result property="boardDate" column="qboarddate"/>		
		<result property="boardCnt" column="qboardcnt"/>		
		<result property="boardId" column="id"/>
	</resultMap>
	<resultMap type="Board" id="shareBoard"> <!-- 정보공유 게시판 -->
		<id property="boardNo" column="shareno"/>
		<result property="boardTitle" column="sharetitle"/>		
		<result property="boardContent" column="sharecontent"/>		
		<result property="boardDate" column="sharedate"/>		
		<result property="boardCnt" column="sharecnt"/>		
		<result property="boardId" column="id"/>
	</resultMap>
	<resultMap type="Board" id="eventBoard"> <!-- 이벤트 게시판 -->
		<id property="boardNo" column="eventno"/>
		<result property="boardTitle" column="eventtitle"/>		
		<result property="boardContent" column="eventcontent"/>		
		<result property="boardDate" column="eventdate"/>		
		<result property="boardCnt" column="eventcnt"/>		
		<result property="boardId" column="id"/>
	</resultMap>
	


		
	<!-- 회원가입 -->
	<insert id="insertUser" parameterType="User">
		<![CDATA[
		INSERT INTO USERS 
		(ID, PWD, NAME, NICKNAME, PHONE, ADDRESS, EMAIL, GENDER, AGE, FAV, JOINDATE, LOGINDATE)
		VALUES 
		(#{userId}, #{userPwd}, #{userName}, #{userNick}, #{userPhone}, #{userAddress}, #{userEmail}, #{gender}, #{userAge}, #{userFav}, SYSDATE, SYSDATE)
		]]>
	</insert>
	
	<!-- id 중복체크 -->
	<select id="idCheck" parameterType="string" resultType="int">
		SELECT count(*) FROM USERS WHERE id = #{userId}
	</select>
	
	<!-- nickname 중복체크 -->
	<select id="nickCheck" parameterType="string" resultType="int">
		SELECT count(*) FROM USERS WHERE nickname = #{userNick}
	</select>
	
	<!-- email 중복체크 -->
	<select id="emailCheck" parameterType="string" resultType="int">
		SELECT count(*) FROM USERS WHERE email = #{userEmail}
	</select>
	
	<!-- 로그인 -->
	<select id="logIn" parameterType="string" resultMap="resultUser">
		SELECT * FROM USERS WHERE ID = #{userId} AND PWD = #{userPwd}
	</select>
	
	<!-- 소셜로그인 -->
	<select id="socialLogIn" parameterType="string" resultMap="resultUser">
		SELECT * FROM USERS WHERE NAME = #{userName} AND EMAIL = #{userEmail}
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="findId" parameterType="string" resultMap="resultUser">
		SELECT ID FROM USERS WHERE NAME = #{userName} AND EMAIL = #{userEmail} AND PHONE = #{userPhone}
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="findPwd" parameterType="string" resultMap="resultUser">
		SELECT PWD FROM USERS WHERE ID = #{userId} AND EMAIL = #{userEmail} AND PHONE = #{userPhone}
	</select>
	
	<!-- 회원 탈퇴 -->
	<delete id="deleteUser" parameterType="string">
		DELETE FROM USERS WHERE ID = #{userId}	
	</delete>
	
	<!-- 회원 정보 수정 -->
	<update id="updateUser" parameterType="User">
		UPDATE USERS SET PWD = #{userPwd}, NICKNAME = #{userNick}, PHONE = #{userPhone}, EMAIL = #{userEmail}, GENDER = #{gender}, AGE = #{userAge}, FAV = #{userFav} WHERE ID = #{userId} 
	</update>
	
	<!-- 회원 정보 수정 - 주소 -->
	<update id="updateAddr" parameterType="User">
		UPDATE USERS SET ADDRESS = #{userAddress} WHERE ID = #{userId} 
	</update>
	
	
	<!-- 내가 쓴 글 불러오기 : 자유게시판 -->
	<select id="selectFree" parameterType="string" resultMap="freeBoard">
		SELECT ROWNUM, A.*
		FROM (SELECT * FROM BULLETINEBOARD
		WHERE ID = #{boardId}
		ORDER BY FREENO DESC) A
		WHERE ROWNUM BETWEEN 1 AND 3
	</select>
	
	<!-- 내가 쓴 글 불러오기 : 자유게시판 더보기-->
	<select id="selectFreeMore" parameterType="string" resultMap="freeBoard">
		SELECT * FROM BULLETINEBOARD
		WHERE ID = #{boardId}
		ORDER BY FREENO DESC
	</select>
	
	<!-- 내가 쓴 글 불러오기 : 후기게시판 -->
	<select id="selectReview" parameterType="string" resultMap="reviewBoard">
		SELECT ROWNUM, A.*
		FROM (SELECT * FROM REVIEWBOARD
		WHERE ID = #{boardId}
		ORDER BY REVIEWNO DESC) A
		WHERE ROWNUM BETWEEN 1 AND 3
	</select>
		
	<!-- 내가 쓴 글 불러오기 : 후기게시판 더보기-->
	<select id="selectReviewMore" parameterType="string" resultMap="reviewBoard">
		SELECT * FROM REVIEWBOARD
		WHERE ID = #{boardId}
		ORDER BY REVIEWNO DESC
	</select>
	
	<!-- 내가 쓴 글 불러오기 : 질의응답게시판 -->
	<select id="selectQuestion" parameterType="string" resultMap="questionBoard">
		SELECT ROWNUM, A.*
		FROM (SELECT * FROM QUESTIONBOARD
		WHERE ID = #{boardId}
		ORDER BY QBOARDNO DESC) A
		WHERE ROWNUM BETWEEN 1 AND 3
	</select>
		
	<!-- 내가 쓴 글 불러오기 : 질의응답게시판 더보기-->
	<select id="selectQuestionMore" parameterType="string" resultMap="questionBoard">
		SELECT * FROM QUESTIONBOARD
		WHERE ID = #{boardId}
		ORDER BY QBOARDNO DESC
	</select>
		
	<!-- 내가 쓴 글 불러오기 : 정보공유게시판 -->
	<select id="selectShare" parameterType="string" resultMap="shareBoard">
		SELECT ROWNUM, A.*
		FROM (SELECT * FROM SHAREBOARD
		WHERE ID = #{boardId}
		ORDER BY SHARENO DESC) A
		WHERE ROWNUM BETWEEN 1 AND 3
	</select>
		
	<!-- 내가 쓴 글 불러오기 : 정보공유게시판 더보기-->
	<select id="selectShareMore" parameterType="string" resultMap="shareBoard">
		SELECT * FROM SHAREBOARD
		WHERE ID = #{boardId}
		ORDER BY SHARENO DESC
	</select>
	
	
	<!-- 내가 쓴 글 불러오기 : 이벤트게시판 -->
	<select id="selectEvent" parameterType="string" resultMap="eventBoard">
		SELECT ROWNUM, A.*
		FROM (SELECT * FROM EVENTBOARD
		WHERE ID = #{boardId}
		ORDER BY EVENTNO DESC) A
		WHERE ROWNUM BETWEEN 1 AND 3
	</select>
		
	<!-- 내가 쓴 글 불러오기 : 이벤트게시판 더보기-->
	<select id="selectEventMore" parameterType="string" resultMap="eventBoard">
		SELECT * FROM EVENTBOARD
		WHERE ID = #{boardId}
		ORDER BY EVENTNO DESC
	</select>
	
	
	<!-- 내가 참여한 펀딩 전체 -->
	<select id="myFunding" parameterType="string" resultType="myFunding">
		<![CDATA[
			SELECT O.ORDERNO, F.FUNDINGNO, O.ORDERDATE, O.PAYMENTTYPE, O.ID, F.FUNDINGTITLE, F.MAKER, F.FUNDINGSTART, F.FUNDINGFIN, F.DELIVERYDATE
			FROM FUNDING F JOIN ORDERS O
			ON F.FUNDINGNO = O.FUNDINGNO
			WHERE O.ID = #{userId}
			ORDER BY ORDERDATE
		]]>
	</select>
	
	<!-- 내가 참여한 펀딩 -->
	<select id="myFundingDetail" parameterType="myFunding" resultType="myFunding">
		<![CDATA[
			    SELECT F.FUNDINGNO, F.FUNDINGTITLE, F.MAKER, F.FUNDINGSTART, F.FUNDINGFIN, F.DELIVERYDATE, A.ORDERNO, A.ORDERDATE, A.ORDERSTATUS, A.ID
			    FROM FUNDING F JOIN 
			        (SELECT O.ORDERNO, O.FUNDINGNO, O.ID, O.ORDERDATE, D.ORDERSTATUS
			        FROM ORDERS O JOIN ORDERSDETAIL D
			        ON O.ORDERNO = D.ORDERNO) A
			    ON F.FUNDINGNO = A.FUNDINGNO
			    WHERE A.ID = #{userId} AND F.FUNDINGNO = #{fundingNo}
			    ORDER BY ORDERDATE
		]]>
	</select>
	
	<!-- 내가 참여한 펀딩 수 -->
	<select id="cntMyFunding" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM ( 
			SELECT F.FUNDINGTITLE, F.MAKER, O.ORDERDATE, O.ID
			FROM FUNDING F JOIN ORDERS O
			ON F.FUNDINGNO = O.FUNDINGNO
			WHERE O.ID = #{userId})
	</select>
	
	<!-- 내가 참여한 펀딩 상세 -->
	<select id="myFundingReward" parameterType="myFunding" resultType="myFunding">
		<![CDATA[
			SELECT R.REWARDTITLE, R.REWARDPRICE, B.REWARDCOUNT, B.REWARDPRICE AS RTOTALPRICE, B.ORDERNO, B.ORDERDETAILNO, B.FUNDINGNO, B.ID, B.ORDERDATE, B.ORDERTOTALPRICE AS TOTALPRICE, B.ORDERSTATUS
			FROM REWARD R JOIN (
			    SELECT O.ORDERNO, O.FUNDINGNO, O.ID, O.ORDERDATE, O.ORDERTOTALPRICE, D.ORDERDETAILNO, D.ORDERSTATUS, D.REWARDNO, D.REWARDPRICE, D.REWARDCOUNT
			    FROM ORDERS O JOIN ORDERSDETAIL D
			    ON O.ORDERNO = D.ORDERNO
			    WHERE O.ID = #{userId}  AND O.FUNDINGNO = #{fundingNo}
			    ) B
			ON R.REWARDNO = B.REWARDNO	
		]]>
	</select>
	
	<!-- 펀딩신청서 저장 -->
	<insert id="inputForm">
		INSERT INTO APPLICATION VALUES (SEQ_APPLYNO.NEXTVAL, #{maker}, #{description}, #{id}, #{makerTel},
		#{makerEmail}, #{makerInfo}, #{fundingTitle}, #{fundingCategory}, #{fundingContent}, #{fundingPrice},
		#{fundingStart}, #{fundingFin}, #{fundingPlan}, #{rewardDesc}, #{rewardPrice}, #{rewardTitle}, #{rewardEA}, null,
		#{deliveryCharge}, #{deliveryDate}, #{makerName})
		</insert>
	
	<!-- 메이커명 중복체크 -->
	<select id="makerChk" parameterType="string" resultType="java.lang.String">
		SELECT MAKER FROM MAKER WHERE MAKER = #{maker}
	</select>
	
</mapper>
