@charset "UTF-8";

.Alldetail
 {
    width: 1140px;
    margin: 0 auto;
}

.FundingDetailStoryContent_wrap:after {
    display: table;
    table-layout: fixed;
    clear: both;
    content: "";
}

.FundingDetailStoryContent_wrap_content {
    float: left;
    width: 740px;
    padding-top: 60px;
}

.FundingDetailStoryContent_article {
    position: relative;
    margin-bottom: 60px;
}

.blind, input[type=checkbox], input[type=radio] {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}


.FundingDetailArticle_wrap {
    position: relative;
}

.FundingDetailEditorParagraph_title:first-child {
    margin-top: 0;
}
.FundingDetailEditorParagraph_title {
    display: block;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.27;
    letter-spacing: -.6px;
}

.FundingDetailEditorParagraph_content {
    margin-top: 20px;
    font-size: 17px;
    line-height: 1.53;
    color: #333;
    white-space: pre-line;
}

.FundingDetailEditorSingleImage_wrap {
    position: relative;
    margin-top: 60px;
    font-size: 0;
}

.FundingDetailEditorSingleImage_image {
    width: 100%;
    vertical-align: top;
}

[class*=FundingDetailEditorGroupImage]+.FundingDetailEditorTitle_wrap, [class*=FundingDetailEditorParagraph]+.FundingDetailEditorTitle_wrap, [class*=FundingDetailEditorSingleImage]+.FundingDetailEditorTitle_wrap {
    margin-top: 40px;
}

.FundingDetailEditorTitle_wrap {
    display: block;
    color: #000;
}
.FundingDetailEditorTitle_type_b .FundingDetailEditorTitle_text {
    padding-right: 2px;
    background-size: 200% 12px;
    background-repeat: repeat-x;
    background-position: 100% 100%;
    background-color: rgba(0,0,0,0);
    font-size: 22px;
    font-weight: 700;
    line-height: 1.27;
    letter-spacing: -.6px;
}

.FundingDetailEditorTitle_type_b {
    margin-top: 22px;
}

.FundingDetailStoryContent_article {
    position: relative;
    margin-bottom: 60px;
}

.FundingDetailStoryContent_guide {
    padding: 40px 0 50px;
    border-top: 1px solid #000;
}

.FundingDetailStoryContent_guide .FundingDetailStoryContent_title {
    display: block;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.19;
    color: #202020;
    letter-spacing: -.6px;
}

.FundingDetailStoryContent_guide .FundingDetailStoryContent_content {
    margin-top: 17px;
    font-size: 16px;
}

.FundingDetailStoryContent_guide .FundingDetailStoryContent_list_guide {
    letter-spacing: -.3px;
}

.FundingDetailStoryContent_guide .FundingDetailStoryContent_list_guide .FundingDetailStoryContent_item {
    line-height: 1.5;
    color: #666;
}

.FundingDetailStoryContent_guide .FundingDetailStoryContent_list_guide .FundingDetailStoryContent_item:before {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 7px 7px 0 0;
    background-color: #666;
    border-radius: 50%;
    vertical-align: top;
    content: "";
}

.FundingDetailStoryContent_guide .FundingDetailStoryContent_list_guide .FundingDetailStoryContent_item+.FundingDetailStoryContent_item {
    margin-top: 1px;
}

.FundingDetailStoryContent_guide .FundingDetailStoryContent_subtitle__mm0mM {
    display: block;
    margin-top: 21px;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.4;
    color: #202020;
    letter-spacing: -.3px;
}

.FundingDetailStoryContent_guide .FundingDetailStoryContent_subtitle__mm0mM .FundingDetailStoryContent_icon__2nnt- {
    display: inline-block;
    margin: 3px 7px 0 0;
    vertical-align: top;
}

.FundingDetailStoryContent_guide .FundingDetailStoryContent_list_date__1xfUX {
    margin-top: 12px;
    line-height: 1.25;
    letter-spacing: -.6px;
}
.FundingDetailStoryContent_guide .FundingDetailStoryContent_list_date__1xfUX .FundingDetailStoryContent_item {
    color: #666;
}

.FundingDetailStoryContent_guide .FundingDetailStoryContent_list_date__1xfUX .FundingDetailStoryContent_item .FundingDetailStoryContent_text.FundingDetailStoryContent_highlight {
    padding: 1px 3px 0;
    margin: 2px -3px 0;
   color: #666;
}
.FundingDetailStoryContent_guide .FundingDetailStoryContent_list_date__1xfUX .FundingDetailStoryContent_item+.FundingDetailStoryContent_item {
    margin-top: 6px;
}

.FundingDetailStoryParticipationTabPanel_wrap {
    padding-top: 50px;
}
.FundingDetailStoryParticipationTabPanel_wrap {
    padding-top: 50px;
}

.FundingDetailStoryParticipationList_summary {
    padding: 25px 0 22px;
    background-color: #fcfcfc;
    border: 1px solid rgba(0,0,0,.05);
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -.5px;
    text-align: center;
}

.FundingDetailStoryParticipationList_summary .FundingDetailStoryParticipationList_number {
    display: inline-block;
    margin-bottom: 2px;
    font-weight: 700;
    vertical-align: baseline;
}

.FundingDetailStoryParticipationList_wrap {
    margin-top: 10px;
}

.FundingDetailStoryParticipationList_wrap .FundingDetailStoryParticipationList_item {
    overflow: hidden;
    padding: 25px 0;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.Pagination_wrap {
    margin: 26px auto 0;
    font-size: 0;
    text-align: center;
    color: #828282;
}

button:disabled, input[type=button]:disabled, input[type=checkbox]:disabled+label, input[type=radio]:disabled+label, input[type=reset]:disabled, input[type=submit]:disabled {
    cursor: default;
}
.Pagination_previous {
    margin-right: 15px;
}
.Pagination_next, .Pagination_previous {
    position: relative;
    width: 26px;
    height: 24px;
    padding: 4px 7px 5px;
    border: 1px solid #d2d2d2;
    vertical-align: top;
}
.Pagination_next:disabled:before, .Pagination_previous:disabled:before {
    opacity: .4;
}
.Pagination_previous:before {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.Pagination_next:before, .Pagination_previous:before {
    position: absolute;
    top: 7px;
    left: 10px;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    content: "";
}

.Pagination_next {
    margin-left: 14px;
}
.Pagination_next:before {
    left: 6px;
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.FundingDetailRewardContent_wrap_content__1zKtY {
	display : none;
    float: left;
    width: 740px;
    padding-top: 60px;
}

.FundingDetailRewardContent_article__1KLwN {
    position: relative;
}

.FundingDetailNoContent_wrap__5UAnm {
    display: table;
    width: 100%;
    height: 797px;
    border: 1px solid rgba(0,0,0,.1);
}

.FundingDetailNoContent_inner__3g_8U {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.FundingDetailNoContent_text__2o3-p {
    font-size: 16px;
    line-height: 25px;
    color: #666;
}

.FundingDetailTidingContent_wrap_content__3XgIg {
	display : none;
    float: left;
    position: relative;
    width: 740px;
    padding-top: 60px;
}

.FundingDetailTidingContent_wrap_list__25ZUN {
    position: relative;
}


li {
    display: list-item;
    text-align: -webkit-match-parent;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}