@charset "UTF-8";

.FundingDetailStoryContent_wrap_reward {
    float: right;
    width: 350px;
    margin-left: 50px;
}

.FundingDetailRewardList_wrap {
    position: relative;
}

.FundingDetailRewardList_title {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.35;
    letter-spacing: -.3px;
}

.FundingDetailRewardList_list {
    position: relative;
    margin: 20px 0 31px;
}
.FundingDetailRewardList_item {
    position: relative;
	margin-bottom: 10px;
    border: 1px solid rgba(0,0,0,.08);
}

.FundingDetailRewardList_amount_ {
    display: block;
    padding: 14px 16px 12px;
    border-bottom: 1px solid rgba(0,0,0,.08);
    font-size: 17px;
    line-height: 1.35;
    color: #202020;
    letter-spacing: -.6px;
}

.FundingDetailRewardList_amount_ .FundingDetailRewardList_number {
    margin-right: 4px;
    color: #1f9eff;
}

.FundingDetailRewardList_text_ {
    padding: 21px 16px 29px;
}

.FundingDetailRewardList_name {
    font-size: 17px;
    line-height: 1.29;
    color: #202020;
    letter-spacing: -.3px;
}

.FundingDetailRewardList_count {
    position: absolute;
    top: 11px;
    right: 15px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 19px;
    padding: 6px 9px 4px;
    font-size: 13px;
    line-height: 1.15;
    color: #333;
    letter-spacing: -.3px;
}

.FundingDetailRewardList_information {
    margin-top: 13px;
}

.FundingDetailRewardList_item_information {
    font-size: 14px;
    line-height: 1.43;
    color: #828282;
    letter-spacing: -.2px;
}


.FundingDetailRewardList_item_information+.FundingDetailRewardList_item_information {
    margin-top: 2px;
}

.FundingDetailRewardList_item_information .FundingDetailRewardList_highlight {
    color: #202020;
}

.FundingDetailRewardList_item_information .FundingDetailRewardList_date {
    margin-right: 8px;
}

.FundingDetailRewardList_link {
    position: absolute;
    top: -5px;
    right: -10px;
    padding: 10px;
    font-size: 13px;
    color: #333;
    letter-spacing: -.3px;
    text-decoration: underline;
}

.FundingDetailRewardList_icon {
    position: relative;
    display: inline-block;
    width: 6px;
    height: 13px;
    margin: 2px 0 0 4px;
    vertical-align: top;
}
.FundingDetailRewardList_icon:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7px;
    height: 7px;
    -ms-transform: translate(-50%,-50%) scaleX(.92308) rotate(45deg);
    transform: translate(-50%,-50%) scaleX(.92308) rotate(45deg);
    margin-left: -2px;
    border-top: 1px solid #666;
    border-right: 1px solid #666;
}

.FundingDetailStoryContent_wrap:after {
    display: table;
    table-layout: fixed;
    clear: both;
    content: "";
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}
