@charset "UTF-8";

@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.wrapper{
	position: relative;
}

.outer{
	display: flex;
	justify-content: center;
}

.inner{
	width: 1140px;
	position: relative;
	display: inline-block;
	font-size: 20px;
	padding: 5% 0;
}

.analytics{
	width: 1100px; height: 600px;
	margin: 100px auto;
	text-align: center;
}

.anal{
	width:250px; height: 450px;
	top: 100px;
	display: inline-block;
	border: 1px solid #ccc;
	margin: auto 50px;
}

.analPayment{
	height: 500px;
	line-height: 500px;
}

.payment{
	clear: both;
	display: block;
}

.paymentTabs{
	height: 300px;
	text-align: center;
	display: inline-block;
}

.paymentTab{
	width: 430px; height: 200px;
	display: inline-block;
	padding: 0 50px 80px 50px;
	margin-top: 0;
}

.totalTab{
	width:100%;
	display: block;
	padding: 0 40px;
}

#fundingTab1, #fundingTab2, #fundingTab3{
	width: 100%; 
	margin: auto;
}

.tabTitle, .noticeTitle{
	background: #ccc;
}

.mr-2{
	font-size: 14px;
	font-family: 'TmoneyRoundWindRegular'; 	
}

.icon1{
	color: #4e73df;
}

.icon2{
	color: #1cc88a;
}

.icon3{
	color: #36b9cc;
}

.icon4{
	color: #cff09e;
}

.hidden{
	display: none;
}

.icon5{
	color: #79bd9a;
}

.icon6{
	color: #3CB371;
}

.icon7{
	color: #40E0D0;
}

.divTitle{
	text-align: left;
}

h3{
	padding-bottom: 30px;
	text-align: left;
	font-family: 'TmoneyRoundWindRegular'; 	
}

h5{
	padding-bottom: 10px;
	font-family: 'TmoneyRoundWindRegular'; 	
}

.noticeTab{
	width: 100%;
	margin: auto;
}

.noticeTitle{
	text-align: center;
}

.detailBtn{
	border: none; border-radius: 5px;
	background: #4d4e4f;
	color: white;
	font-size: 12px;
	font-family: 'TmoneyRoundWindRegular'; 	
	height: 30px;
}

.notice{
	padding: 30px;
}

td{
	height: 50px;
	border: 1px solid #ccc;
	border-collapse: collapse;
	font-family: 'TmoneyRoundWindRegular'; 	
	padding: 0 20px;
}

.paymentTab1{
	margin-top: 0;
}

.paymentTab2{
	margin-top: 20px;
}

#logo{
	line-height: 100% !Important;
	
}

#menuBtn{
	margin-top: 40px !important;
}
