@charset "UTF-8";

@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.wrapper{
	position: relative;
}

.outer{
	display: flex;
	justify-content: center;
}

.inner{
	width: 1140px;
	position: relative;
	display: inline-block;
	font-size: 16px;
	padding: 5% 10%;
}

.table{
	border-collapse: collapse;
	width: 100%;
	font-family: 'TmoneyRoundWindRegular'; 	
}

.title{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	height: 50px;
	font-size: 17px;
	text-align: center;
}

.titleCenter{
	width: 50%;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.titleNo{
	width: 20%;	
}

.titleId{
	width: 30%;
}

.btns{
	height: 50px;
	font-family: 'TmoneyRoundWindRegular'; 	
}

.lineBtn{
	border-right: 1px solid #ccc;
}

#rejectForm{
	width: 150px; height: 150px;
	background: white;
	border: 1px solid #ccc;
	cursor: pointer;
	font-family: 'TmoneyRoundWindRegular'; 	
}

#list, #permitForm{
	width: 100px; height: 40px;
	background: white;
	border: none;	
	cursor: pointer;
	font-family: 'TmoneyRoundWindRegular'; 	
}

h3{
	font-family: 'TmoneyRoundWindRegular'; 	
}
