@charset "UTF-8";

body {
    font-family: 'NanumSquare', sans-serif !important;
}

.space {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
}

.wrapper {
	display: table;
	margin-bottom: 80px;
}

.list {
	width: 35px;
	line-height: 40px;
}

.reportList {
	display: table-cell;
	vertical-align: middle;
	font-size: 20px;
}

.tg {
	border-collapse: collapse;
	border-spacing: 0;
}

.no {
	width: 50px;
}

.box {
	width: 50px;
}

.place {
	width: 80px;
}

.type {
	width: 80px;
}

.rId {
	width: 140px;
}

.state {
	width: 100px;
}

.deal {
	box-shadow: none;
	border-radius: 10px;
	font-size: 5px;
	width: 56px;
}

.wait {
	font-size: 10px;
	color: red;
}

.commit {
	font-size: 10px;
	color: springgreen;
}

.under {
	width: 900px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

#select {
	height: 30px;
	float: left;
}

.searchBtn {
	margin-left: 30px;
	box-shadow: none;
	border-radius: 10px;
	height: 30px;
}

.deleteBtn {
	margin-left: 30px;
	background-color: rgb(255, 72, 0);
	color: white;
	box-shadow: none;
	border-radius: 10px;
	height: 30px;
}