@charset "UTF-8";

.content {
    position: relative;
    z-index: 20;
}
.FundingDetailApplicationContent_wrap__3lh7- {
    width: 1140px;
    margin: 0 auto;
    padding: 0 40px 14px;
}

.FundingDetailApplicationContent_section_title__6xAZn {
    padding: 65px 0 40px;
    font-family: NanumSquareWebFont,dotum,Sans-serif;
    text-align: center;
}

.FundingDetailApplicationContent_section_title__6xAZn .FundingDetailApplicationContent_title__2BYvK {
    font-size: 34px;
    line-height: 1.12;
    color: #000;
    letter-spacing: -.5px;
    word-wrap: break-word;
    word-break: keep-all;
}

.FundingDetailApplicationContent_section_title__6xAZn .FundingDetailApplicationContent_funder__1eTbL {
    display: block;
    margin-top: 16px;
    font-size: 17px;
    line-height: 1.33;
    letter-spacing: -.3px;
}

.FundingDetailApplicationContent_section__gfh97 {
    margin: 30px auto 0;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.08);
}

.FundingDetailApplicationContent_subtitle__mdStj {
    padding: 26px 39px 24px;
    border-bottom: 1px solid rgba(0,0,0,.08);
    font-family: NanumSquareWebFont,dotum,Sans-serif;
    font-size: 22px;
}

.FundingDetailApplicationContent_list_order__20w1j {
    padding: 41px 39px 38px;
}

.FundingDetailApplicationContent_list_order__20w1j .FundingDetailApplicationContent_item__3hhAd, .FundingDetailApplicationContent_list_order__20w1j .FundingDetailApplicationContent_item_addition__EPV2y {
    line-height: 1.19;
    text-align: right;
}

.FundingDetailApplicationContent_list_order__20w1j .FundingDetailApplicationContent_name__28fMG {
    float: left;
    max-width: 770px;
    margin-top: -1px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    letter-spacing: -.2px;
    text-align: left;
}

.FundingDetailApplicationContent_list_order__20w1j .FundingDetailApplicationContent_count__IZBVx {
    font-size: 15px;
    color: #1f9eff;
}

.FundingDetailApplicationContent_list_order__20w1j .FundingDetailApplicationContent_number__2kFus {
    display: inline-block;
    margin: 0 1px 0 0;
    font-family: NanumSquareWebFont,dotum,Sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -.3px;
    vertical-align: top;
}

.FundingDetailApplicationContent_list_order__20w1j .FundingDetailApplicationContent_count__IZBVx:after {
    display: inline-block;
    width: 1px;
    height: 15px;
    margin: 1px 10px 0;
    background-color: #ccc;
    vertical-align: top;
    content: "";
}

.FundingDetailApplicationContent_list_order__20w1j .FundingDetailApplicationContent_amount__aTe92 {
    font-size: 15px;
    color: #1f9eff;
}
.FundingDetailApplicationContent_list_order__20w1j .FundingDetailApplicationContent_number__2kFus {
    display: inline-block;
    margin: 0 1px 0 0;
    font-family: NanumSquareWebFont,dotum,Sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -.3px;
    vertical-align: top;
}

.FundingDetailApplicationContent_list_order__20w1j .FundingDetailApplicationContent_item__3hhAd:after, .FundingDetailApplicationContent_list_order__20w1j .FundingDetailApplicationContent_item_addition__EPV2y:after {
    display: table;
    table-layout: fixed;
    clear: both;
    content: "";
}

.FundingDetailApplicationContent_list_order__20w1j .FundingDetailApplicationContent_item_addition__EPV2y {
    margin-top: 19px;
}
.FundingDetailApplicationContent_list_order__20w1j .FundingDetailApplicationContent_item_addition__EPV2y .FundingDetailApplicationContent_amount__aTe92, .FundingDetailApplicationContent_list_order__20w1j .FundingDetailApplicationContent_item_addition__EPV2y .FundingDetailApplicationContent_name__28fMG {
    color: #828282;
}

.FundingDetailApplicationContent_list_order__20w1j .FundingDetailApplicationContent_name__28fMG {
    float: left;
    max-width: 770px;
    margin-top: -1px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    letter-spacing: -.2px;
    text-align: left;
}

.FundingDetailApplicationContent_list_order__20w1j .FundingDetailApplicationContent_date__3KleL {
    display: inline-block;
    margin: 2px 0 0 11px;
    font-size: 14px;
    color: #1f9eff;
    letter-spacing: -.2px;
    vertical-align: top;
}
.FundingDetailApplicationContent_total__1pwx- {
    margin: 0 39px;
    padding: 28px 0 19px;
    border-top: 1px solid rgba(0,0,0,.05);
    text-align: right;
}

.FundingDetailApplicationContent_total__1pwx- .FundingDetailApplicationContent_date__3KleL {
    float: left;
    margin-top: -2px;
    font-size: 15px;
    color: #333;
    letter-spacing: -.2px;
}

.FundingDetailApplicationContent_total__1pwx- .FundingDetailApplicationContent_item__3hhAd {
    font-size: 17px;
}
.FundingDetailApplicationContent_total__1pwx- .FundingDetailApplicationContent_amount__aTe92, .FundingDetailApplicationContent_total__1pwx- .FundingDetailApplicationContent_count__IZBVx {
    color: #1f9eff;
}

.FundingDetailApplicationContent_total__1pwx- .FundingDetailApplicationContent_count__IZBVx .FundingDetailApplicationContent_number__2kFus {
    margin: -4px 2px 0 8px;
    font-size: 22px;
    line-height: 1.14;
}

.FundingDetailApplicationContent_total__1pwx- .FundingDetailApplicationContent_item__3hhAd {
    font-size: 17px;
}

.FundingDetailApplicationContent_total__1pwx- .FundingDetailApplicationContent_item__3hhAd+.FundingDetailApplicationContent_item__3hhAd:before {
    display: inline-block;
    width: 1px;
    height: 19px;
    margin: -1px 15px 0;
    background-color: rgba(0,0,0,.1);
    vertical-align: top;
    content: "";
}

.FundingDetailApplicationContent_total__1pwx- .FundingDetailApplicationContent_amount__aTe92, .FundingDetailApplicationContent_total__1pwx- .FundingDetailApplicationContent_count__IZBVx {
    color: #1f9eff;
}

.FundingDetailApplicationContent_total__1pwx-:after {
    display: table;
    table-layout: fixed;
    clear: both;
    content: "";
}


/*중간 */

.FundingDetailApplicationContent_address__rKPWo {
    padding: 31px 39px 39px;
}

.FundingDetailApplicationContent_address__rKPWo .FundingDetailApplicationContent_radio__GXncM {
    margin-bottom: 30px;
}



.blind, input[type=checkbox], input[type=radio] {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}


.FundingDetailApplicationContent_label_type__1LZJ6 {
    display: inline-block;
    padding: 3px 0 0;
    font-size: 16px;
    line-height: 1.19;
}
.FundingDetailApplicationContent_input_type__2gqMr:checked+.FundingDetailApplicationContent_label_type__1LZJ6:before {
    padding: 3px;
    background-clip: content-box;
    background-color: #1f9eff;
}
.FundingDetailApplicationContent_label_type__1LZJ6:before {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: -3px 8px 0 0;
    border: 1px solid #c7c7c7;
    border-radius: 50%;
    vertical-align: top;
    content: "";
}

.FundingDetailApplicationContent_button_list__7AlKd {
    padding: 8px 14px 6px;
    margin: 0 30px 0 10px;
    border: 1px solid rgba(0,0,0,.15);
    font-size: 14px;
    color: #828282;
}

.FundingDetailApplicationContent_label_type__1LZJ6:before {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: -3px 8px 0 0;
    border: 1px solid #c7c7c7;
    border-radius: 50%;
    vertical-align: top;
    content: "";
}

.FundingDetailApplicationContent_address__rKPWo .FundingDetailApplicationContent_list_basic__F5tPH {
    padding: 12px 0 24px;
}

.FundingDetailApplicationContent_address__rKPWo .FundingDetailApplicationContent_item__3hhAd {
    position: relative;
    padding-left: 113px;
    line-height: 0;
}

.FundingDetailApplicationContent_address__rKPWo .FundingDetailApplicationContent_title__2BYvK {
    top: 0;
}
.FundingDetailApplicationContent_address__rKPWo .FundingDetailApplicationContent_label__3WPCE, .FundingDetailApplicationContent_address__rKPWo .FundingDetailApplicationContent_title__2BYvK {
    position: absolute;
    left: 0;
    font-size: 15px;
    line-height: 1.23;
    color: #828282;
}

.FundingDetailApplicationContent_address__rKPWo .FundingDetailApplicationContent_description__2wk3i {
    font-size: 15px;
    line-height: 1.23;
}

.FundingDetailApplicationContent_address__rKPWo .FundingDetailApplicationContent_list_basic__F5tPH .FundingDetailApplicationContent_item__3hhAd+.FundingDetailApplicationContent_item__3hhAd {
    margin-top: 19px;
}


/*배송지 직접입력 */

.FundingDetailApplicationContent_address__rKPWo .FundingDetailApplicationContent_list_basic__F5tPH[aria-hidden=true], .FundingDetailApplicationContent_address__rKPWo .FundingDetailApplicationContent_list_input__DNaub[aria-hidden=true] {
    display: none;
}

.FundingDetailApplicationContent_address__rKPWo .FundingDetailApplicationContent_list_input__DNaub {
    padding-bottom: 19px;
}

.FundingDetailApplicationContent_address__rKPWo .FundingDetailApplicationContent_item__3hhAd {
    position: relative;
    padding-left: 113px;
    line-height: 0;
}

.FundingDetailApplicationContent_address__rKPWo .FundingDetailApplicationContent_label__3WPCE {
    top: 12px;
}
.FundingDetailApplicationContent_address__rKPWo .FundingDetailApplicationContent_label__3WPCE, .FundingDetailApplicationContent_address__rKPWo .FundingDetailApplicationContent_title__2BYvK {
    position: absolute;
    left: 0;
    font-size: 15px;
    line-height: 1.23;
    color: #828282;
}

.FundingDetailApplicationContent_address__rKPWo .FundingDetailApplicationContent_input_text__1vbSp {
    width: 107px;
    height: 38px;
    padding: 0 15px;
    border: 1px solid rgba(0,0,0,.08);
    font-size: 14px;
}

.FundingDetailApplicationContent_address__rKPWo .FundingDetailApplicationContent_list_input__DNaub .FundingDetailApplicationContent_item__3hhAd+.FundingDetailApplicationContent_item__3hhAd {
    margin-top: 15px;
}
.FundingDetailApplicationContent_address__rKPWo .FundingDetailApplicationContent_item__3hhAd {
    position: relative;
    padding-left: 113px;
    line-height: 0;
}

.FundingDetailApplicationContent_address__rKPWo .FundingDetailApplicationContent_input_text__1vbSp {
    width: 107px;
    height: 38px;
    padding: 0 15px;
    border: 1px solid rgba(0,0,0,.08);
    font-size: 14px;
}

.FundingDetailApplicationContent_address__rKPWo .FundingDetailApplicationContent_bar__1O-Fk {
    display: inline-block;
    width: 5px;
    height: 1px;
    margin: 19px 8px 0;
    background-color: #828282;
    vertical-align: top;
}

/*배송 메시지*/
.FundingDetailApplicationContent_address__rKPWo .FundingDetailApplicationContent_item__3hhAd.FundingDetailApplicationContent_message__3OJBc .FundingDetailApplicationContent_label__3WPCE {
    top: 8px;
}

.FundingDetailApplicationContent_address__rKPWo .FundingDetailApplicationContent_textarea__1bwF3 {
    width: 806px;
    min-height: 120px;
    padding: 11px 13px;
    border: 1px solid rgba(0,0,0,.08);
    font-size: 14px;
    line-height: 1.72;
    resize: none;
}

/*주의사항*/
.FundingDetailApplicationContent_guide__3vpdM {
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.43;
    color: #a3a3a3;
    letter-spacing: -.3px;
}

/*약관 동의*/
.FundingDetailApplicationContent_section__gfh97 {
    margin: 30px auto 0;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.08);
}

.FundingDetailApplicationContent_terms__2Jx3e {
    padding: 6px 39px 39px;
}

.FundingDetailApplicationContent_terms__2Jx3e .FundingDetailApplicationContent_bundle__3ztI- {
    padding: 24px 0;
    border-bottom: 1px solid rgba(0,0,0,.03);
}

.FundingDetailApplicationContent_checkbox__1z5rX {
    min-height: 19px;
    font-size: 14px;
    line-height: 1.29;
    color: #333;
}

.FundingDetailApplicationContent_terms__2Jx3e .FundingDetailApplicationContent_bundle__3ztI- .FundingDetailApplicationContent_checkbox__1z5rX .FundingDetailApplicationContent_label__3WPCE {
    padding: 2px 0 2px 34px;
    font-size: 16px;
    line-height: 1.29;
    color: #333;
}
.FundingDetailApplicationContent_checkbox__1z5rX .FundingDetailApplicationContent_label__3WPCE {
    display: inline-block;
    position: relative;
    padding: 4px 0 4px 34px;
    vertical-align: top;
}
.FundingDetailApplicationContent_checkbox__1z5rX .FundingDetailApplicationContent_label__3WPCE .FundingDetailApplicationContent_icon__3inag {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0,0,0,.12);
}

.FundingDetailApplicationContent_terms__2Jx3e .FundingDetailApplicationContent_group__292es {
    padding-top: 30px;
}
.FundingDetailApplicationContent_checkbox__1z5rX .FundingDetailApplicationContent_input__1Q10H:checked+.FundingDetailApplicationContent_label__3WPCE .FundingDetailApplicationContent_icon__3inag:after {
    position: absolute;
    width: 14px;
    height: 8px;
    border: 1px solid #fff;
    border-width: 0 0 1px 1px;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    content: "";
}

/*펀딩 참여하기*/
.FundingDetailApplicationContent_button_join__E6XFt {
    display: block;
    width: 280px;
    height: 60px;
    margin: 50px auto 0;
    background-color: #1f9eff;
    border: 1px solid rgba(0,0,0,.02);
    border-radius: 3px;
    font-size: 19px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -.3px;
}

button, input[type=button], input[type=checkbox]+label, input[type=radio]+label, input[type=reset], input[type=submit] {
    cursor: pointer;
}

*, :after, :before {
    box-sizing: border-box;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: inherit;
}
div {
    display: block;
}

ol, ul {
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

strong {
    font-weight: bold;
}


body {
    position: relative;
    -webkit-font-smoothing: antialiased;
}
body, button, input, select, table, textarea {
    font-size: 14px;
    line-height: 19px;
    color: #202020;
}
button, input, select, textarea {
    border: 0;
    border-radius: 0;
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}