@charset "UTF-8";

[type='text'], [type='password'] {
	width: 400px;
	height: 40px;
	font-size: 17px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ddd;
}


.join-bodyContent {
	justify-content: center;

}

.joinContainer {
	width: 500px;
	align-itms: center !important;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
}

.join-title {
	margin-top: 144px;
	margin-bottom: 44px;
	font-size: 30px;
}

.findPostCode {
	width: 85px;
	height: 40px;
	border: none;
	padding: 5px;
	outline: none;
	border-radius: 5px;
	color: #1e1e1e;
	background-color: #cff09e;
	border: 1px solid #cff09e;
	font-size: 15px;
}

.findPostCode:hover {
	color: #1abc9c;
}

.btnJoin {
	width: 85px;
	height: 40px;
	border: none;
	padding: 5px;
	outline: none;
	border-radius: 5px;
	color: #1e1e1e;
	background-color: #a8dba8;
	border: 1px solid #a8dba8;
	font-size: 15px;
}

