@charset "UTF-8";

.myPageWrapper{
	position: relative;
	top: auto;
	z-index: auto;
	background-color: #fff;
}

.profileBackground{
	diplay: block;
	position: absolute;
	top: 0;
	left: 0;
	opacity: .9;
	background-image: linear-gradient(263deg, #cff09e 100%, #fcf6c1 0);
	width: 100%;
	height: 220px;
}

.myPageInner {
    margin: 0 auto;
    background-color: #fff;
    max-width: 1140px;
    min-width: 1140px;
}

.myPageHeader{
	padding-top: 13px;
	height: 69px;
	position: relative;
	width: 100%;
	overflow: hidden;
}

.makerSwitcher{
	position: absolute;
	top: 14px;
	right: 15px;
	padding: 0;
	widht: 180px;
	border: 0;
	vertical-align: baseline;
}



.myPageContentwrapper{
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	
}

/*사용자 모드*/
.myPage_nonMaker {
	margin: 0 auto;
	background-color: #fff;
	max-width: 1140px;
	
	position: relative;
}

.profileBox {
	display: inline-block;
	position: relative;
	float: left;
	padding: 56px 24px 0;
	width: 240px;
	
	background-color: #fff;
}

.contentsBox {
	position: relative;
	float: left;
	padding: 42px 32px 120px;
	width: calc(100% - 240px);
}
